#accounts_index
  #new_account
    form
      width: 100%

  li
    turbo-frame
      display: block
      margin-bottom: 20px
    &.account
      margin-bottom: 20px
      border-bottom: 1px solid #CCC
