#accounts_index
  #new_account
    form
      width: 100%

  li.account
    margin-bottom: 10px
    turbo-frame
      margin-bottom: 20px
    h2
      margin-bottom: 5px
      border-bottom: 1px solid #CCC
    ul
      li
        display: flex
        margin-bottom: 5px
        span
          flex: 1
