@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import 'normalizecss/normalize'

:root
  font-size: 14px
  font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5, p
  margin: 0

#content
  width: 60%
  margin: 20px auto
  background: white
